apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-production
spec:
  tls:
  - secretName : hubstairs-tls
  rules:
  - host: host.com 
    http:
      paths:
      - backend:
          serviceName: mgate
          servicePort: 8080

